body {
    padding: 1em;
    margin: auto;
    
}

.blog {
    background-color: aliceblue;
    display: flex;
	align-items: center;
	column-gap: 40px;
    justify-content: right;
    
}
.Portofolio{
    background-color: aliceblue;
    display: flex;
	align-items: center;
	column-gap: 40px;
    justify-content: left;
    padding: 1em;
    margin: auto;
}
#intro {
    width: 456px;
    color: rgba(30,30,30,1);
    position: absolute;
    top: 145px;
    left: 80px;
    font-family: Kanit;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
    display: flex;
}

#Hire {
    width: 33.33%;
    padding: 16px;
    display: table-cell;
    margin-left: auto;
    margin-right: auto;
}

#Project {
    column-gap: 32px;
    display: flex;
    height: 500px;
}

.Shalom {
    width: 456px;
    color: rgba(30,30,30,1);
    position: absolute;
    top: 145px;
    left: 686px;
    font-family: Kanit;
    
    font-size: 30px;
    opacity: 1;
    text-align: left;
}

.Graphic {
    width: 571px;
    color: rgba(230,120,40,1);
    position: absolute;
    top: 238px;
    left: 686px;
    font-family: Kanit;
    font-size: 46px;
    opacity: 1;
    text-align: left;
}

.Biodata {
    width: 501px;
    color: rgba(30,30,30,1);
    position: absolute;
    top: 371px;
    left: 687px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

.Contact {
    width: 456px;
    color: rgba(30,30,30,1);
    position: absolute;
    top: 480px;
    left: 687px;
    font-family: Kanit;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
}

.Number {
    width: 456px;
    color: rgba(30,30,30,1);
    position: absolute;
    top: 532px;
    left: 755px;
    font-family: Kanit;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
}

.Email {
    width: 456px;
    color: rgba(30,30,30,1);
    position: absolute;
    top: 584px;
    left: 755px;
    font-family: Kanit;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
}

ul{
    display: flex;
    list-style: none;
    column-gap: 20px;
    padding-left: 0;
    text-align: center;
}

h1 {
   text-align: center;
   font-family: Kanit;
   color: rgba(230,120,40,1); 
}

h3 {
    text-align: center;
    font-family: kanit;
    color: rgba(230,120,40,1); 
}

